
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPlanLabel" data-translate="fpvApp.plan.home.createOrEditLabel">Create or edit a Plan</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.plan.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.plan.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fpvApp.plan.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.plan.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fpvApp.plan.effectiveDate" for="field_effectiveDate">Effective Date</label>
                <div class="input-group">
                    <input id="field_effectiveDate" type="text" class="form-control" name="effectiveDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.plan.effectiveDate" is-open="vm.datePickerOpenStatus.effectiveDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('effectiveDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fpvApp.plan.approveDate" for="field_approveDate">Approve Date</label>
                <div class="input-group">
                    <input id="field_approveDate" type="text" class="form-control" name="approveDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.plan.approveDate" is-open="vm.datePickerOpenStatus.approveDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('approveDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fpvApp.plan.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.plan.status" id="field_status" required>
                <option value="DRAFT" data-translate="fpvApp.PlanStatus.DRAFT">DRAFT</option>
                <option value="PENDING" data-translate="fpvApp.PlanStatus.PENDING">PENDING</option>
                <option value="APPROVE" data-translate="fpvApp.PlanStatus.APPROVE">APPROVE</option>
            </select>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fpvApp.plan.cloned" for="field_cloned">Cloned</label>
            <input type="checkbox" class="form-control" name="cloned" id="field_cloned"
                    ng-model="vm.plan.cloned"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fpvApp.plan.cloneFromPlanId" for="field_cloneFromPlanId">Clone From Plan Id</label>
            <input type="number" class="form-control" name="cloneFromPlanId" id="field_cloneFromPlanId"
                    ng-model="vm.plan.cloneFromPlanId"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
