
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDeskMovementLabel" data-translate="fpvApp.deskMovement.home.createOrEditLabel">Create or edit a Desk Movement</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.deskMovement.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.deskMovement.id" readonly />
        </div>

        <div class="form-group">
            <label data-translate="fpvApp.deskMovement.employee" for="field_employee">Employee</label>
            <select class="form-control" id="field_employee" name="employee" ng-model="vm.deskMovement.employee" ng-options="employee as employee.code for employee in vm.employees track by employee.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="fpvApp.deskMovement.fromDesk" for="field_fromDesk">From Desk</label>
            <select class="form-control" id="field_fromDesk" name="fromDesk" ng-model="vm.deskMovement.fromDesk" ng-options="desk as desk.code for desk in vm.desks track by desk.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="fpvApp.deskMovement.toDesk" for="field_toDesk">To Desk</label>
            <select class="form-control" id="field_toDesk" name="toDesk" ng-model="vm.deskMovement.toDesk" ng-options="desk as desk.code for desk in vm.desks track by desk.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="fpvApp.deskMovement.plan" for="field_plan">Plan</label>
            <select class="form-control" id="field_plan" name="plan" ng-model="vm.deskMovement.plan" ng-options="plan as plan.name for plan in vm.plans track by plan.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
