<div>
    <h2 data-translate="fpvApp.deskAssignment.home.title">Desk Assignments</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="desk-assignment.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="fpvApp.deskAssignment.home.createLabel">
                        Create new Desk Assignment
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="desk.code"><span data-translate="fpvApp.deskAssignment.desk">Desk</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="plan.name"><span data-translate="fpvApp.deskAssignment.plan">Plan</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="employee.code"><span data-translate="fpvApp.deskAssignment.employee">Employee</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="deskAssignment in vm.deskAssignments track by deskAssignment.id">
                    <td><a ui-sref="desk-assignment-detail({id:deskAssignment.id})">{{deskAssignment.id}}</a></td>
                    <td>
                        <a ui-sref="desk-detail({id:deskAssignment.desk.id})">{{deskAssignment.desk.code}}</a>
                    </td>
                    <td>
                        <a ui-sref="plan-detail({id:deskAssignment.plan.id})">{{deskAssignment.plan.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="employee-detail({id:deskAssignment.employee.id})">{{deskAssignment.employee.code}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="desk-assignment-detail({id:deskAssignment.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="desk-assignment.edit({id:deskAssignment.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="desk-assignment.delete({id:deskAssignment.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
