
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEmployeeLabel" data-translate="fpvApp.employee.home.createOrEditLabel">Create or edit a Employee</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.employee.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.employee.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fpvApp.employee.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.employee.code"
                    required />
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fpvApp.employee.firstname" for="field_firstname">Firstname</label>
            <input type="text" class="form-control" name="firstname" id="field_firstname"
                    ng-model="vm.employee.firstname"
                    required />
            <div ng-show="editForm.firstname.$invalid">
                <p class="help-block"
                    ng-show="editForm.firstname.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fpvApp.employee.lastname" for="field_lastname">Lastname</label>
            <input type="text" class="form-control" name="lastname" id="field_lastname"
                    ng-model="vm.employee.lastname"
                    required />
            <div ng-show="editForm.lastname.$invalid">
                <p class="help-block"
                    ng-show="editForm.lastname.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fpvApp.employee.nickname" for="field_nickname">Nickname</label>
            <input type="text" class="form-control" name="nickname" id="field_nickname"
                    ng-model="vm.employee.nickname"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fpvApp.employee.businessUnit" for="field_businessUnit">Business Unit</label>
            <input type="text" class="form-control" name="businessUnit" id="field_businessUnit"
                    ng-model="vm.employee.businessUnit"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fpvApp.employee.position" for="field_position">Position</label>
            <input type="text" class="form-control" name="position" id="field_position"
                    ng-model="vm.employee.position"
                     />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImage($file, vm.employee)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="fpvApp.employee.image" for="field_image">Image</label>
            <div>
                <img data-ng-src="{{'data:' + vm.employee.imageContentType + ';base64,' + vm.employee.image}}" style="max-height: 100px;" ng-if="vm.employee.image"/>
                <div ng-if="vm.employee.image" class="help-block clearfix">
                    <span class="pull-left">{{vm.employee.imageContentType}}, {{vm.byteSize(vm.employee.image)}}</span>
                    <button type="button" ng-click="vm.employee.image=null;vm.employee.imageContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImage($file, vm.employee)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                    ng-model="vm.employee.image"
                     />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                    ng-model="vm.employee.imageContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fpvApp.employee.work" for="field_work">Work</label>
            <input type="text" class="form-control" name="work" id="field_work"
                    ng-model="vm.employee.work"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fpvApp.employee.mobile" for="field_mobile">Mobile</label>
            <input type="text" class="form-control" name="mobile" id="field_mobile"
                    ng-model="vm.employee.mobile"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fpvApp.employee.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.employee.email"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
