
<div>
    <h2><span data-translate="fpvApp.employee.detail.title">Employee</span> {{vm.employee.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="fpvApp.employee.code">Code</span></dt>
        <dd>
            <span>{{vm.employee.code}}</span>
        </dd>
        <dt><span data-translate="fpvApp.employee.firstname">Firstname</span></dt>
        <dd>
            <span>{{vm.employee.firstname}}</span>
        </dd>
        <dt><span data-translate="fpvApp.employee.lastname">Lastname</span></dt>
        <dd>
            <span>{{vm.employee.lastname}}</span>
        </dd>
        <dt><span data-translate="fpvApp.employee.nickname">Nickname</span></dt>
        <dd>
            <span>{{vm.employee.nickname}}</span>
        </dd>
        <dt><span data-translate="fpvApp.employee.businessUnit">Business Unit</span></dt>
        <dd>
            <span>{{vm.employee.businessUnit}}</span>
        </dd>
        <dt><span data-translate="fpvApp.employee.position">Position</span></dt>
        <dd>
            <span>{{vm.employee.position}}</span>
        </dd>
        <dt><span data-translate="fpvApp.employee.image">Image</span></dt>
        <dd>
            <div ng-if="vm.employee.image">
                <a ng-click="vm.openFile(vm.employee.imageContentType, vm.employee.image)">
                    <img data-ng-src="{{'data:' + vm.employee.imageContentType + ';base64,' + vm.employee.image}}" style="max-width: 100%;"/>
                </a>
                {{vm.employee.imageContentType}}, {{vm.byteSize(vm.employee.image)}}
            </div>
        </dd>
        <dt><span data-translate="fpvApp.employee.work">Work</span></dt>
        <dd>
            <span>{{vm.employee.work}}</span>
        </dd>
        <dt><span data-translate="fpvApp.employee.mobile">Mobile</span></dt>
        <dd>
            <span>{{vm.employee.mobile}}</span>
        </dd>
        <dt><span data-translate="fpvApp.employee.email">Email</span></dt>
        <dd>
            <span>{{vm.employee.email}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="employee-detail.edit({id:vm.employee.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
