<div>
    <h2 data-translate="fpvApp.desk.home.title">Desks</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="desk.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="fpvApp.desk.home.createLabel">
                        Create new Desk
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="code"><span data-translate="fpvApp.desk.code">Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="x"><span data-translate="fpvApp.desk.x">X</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="y"><span data-translate="fpvApp.desk.y">Y</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="width"><span data-translate="fpvApp.desk.width">Width</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="height"><span data-translate="fpvApp.desk.height">Height</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="floor.name"><span data-translate="fpvApp.desk.floor">Floor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="desk in vm.desks track by desk.id">
                    <td><a ui-sref="desk-detail({id:desk.id})">{{desk.id}}</a></td>
                    <td>{{desk.code}}</td>
                    <td>{{desk.x}}</td>
                    <td>{{desk.y}}</td>
                    <td>{{desk.width}}</td>
                    <td>{{desk.height}}</td>
                    <td>
                        <a ui-sref="floor-detail({id:desk.floor.id})">{{desk.floor.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="desk-detail({id:desk.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="desk.edit({id:desk.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="desk.delete({id:desk.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
