
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFloorLabel" data-translate="fpvApp.floor.home.createOrEditLabel">Create or edit a Floor</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.floor.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.floor.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fpvApp.floor.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.floor.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImage($file, vm.floor)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="fpvApp.floor.image" for="field_image">Image</label>
            <div>
                <img data-ng-src="{{'data:' + vm.floor.imageContentType + ';base64,' + vm.floor.image}}" style="max-height: 100px;" ng-if="vm.floor.image"/>
                <div ng-if="vm.floor.image" class="help-block clearfix">
                    <span class="pull-left">{{vm.floor.imageContentType}}, {{vm.byteSize(vm.floor.image)}}</span>
                    <button type="button" ng-click="vm.floor.image=null;vm.floor.imageContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImage($file, vm.floor)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                    ng-model="vm.floor.image"
                     />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                    ng-model="vm.floor.imageContentType" />
        </div>

        <div class="form-group">
            <label data-translate="fpvApp.floor.building" for="field_building">Building</label>
            <select class="form-control" id="field_building" name="building" ng-model="vm.floor.building" ng-options="building as building.name for building in vm.buildings track by building.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
