
<div>
    <h2><span data-translate="fpvApp.floor.detail.title">Floor</span> {{vm.floor.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="fpvApp.floor.name">Name</span></dt>
        <dd>
            <span>{{vm.floor.name}}</span>
        </dd>
        <dt><span data-translate="fpvApp.floor.image">Image</span></dt>
        <dd>
            <div ng-if="vm.floor.image">
                <a ng-click="vm.openFile(vm.floor.imageContentType, vm.floor.image)">
                    <img data-ng-src="{{'data:' + vm.floor.imageContentType + ';base64,' + vm.floor.image}}" style="max-width: 100%;"/>
                </a>
                {{vm.floor.imageContentType}}, {{vm.byteSize(vm.floor.image)}}
            </div>
        </dd>
        <dt><span data-translate="fpvApp.floor.building">Building</span></dt>
        <dd>
            <a ui-sref="building-detail({id:vm.floor.building.id})">{{vm.floor.building.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="floor-detail.edit({id:vm.floor.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
